.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;}

  
  .discuss{
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  